
*{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: 'Open Sans', sans-serif;
  }
  
  #fondo{
  background: url(../imagenes/ballena1.jpg);
  height: 80vh;
  background-position: center;
  background-size: cover;
  }
  
  .contenedorTitu{
    background: rgba(251, 251, 251, 0.3);
    color: #FFF;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    position: relative;
    top:60px;
    width: 100%;
  }
  
  #titulo{
    color: white;
    display: flex;
    width: 100%;
  }
  
  #titulo h1{
      text-align: center ;
  }
  #titulo h4{text-align: center; color:aliceblue;}
  
  .menu2{
      float: right;
      margin-top: 10px;
  }
  
  .menu2 a{
     position: relative;
      color: white;
      text-decoration: none;
      right: 10px;
  }
  
  
  .menu2 a:hover{
      background: rgb(14, 202, 213,0.5);
  }
  
  .ContenedorNav{
      width: 100%;
      margin:auto;
      font-family: 'Shadows Into Light', cursive;
      font-family: 'Roboto Condensed', sans-serif;
  }
  

  #Cabeza{
      color: white;
      display: flex;
      position: fixed;
      z-index:1;
      width: 100%;
      height: auto;
      background: rgba(149, 164, 165, 0.5);
      padding: 5px;
  }
  
  #Cabeza h1{
      float: left;
    font-size: 40px;
    margin-top: 10px;}
  
  .menu{
      float:right;
      margin-top: 5px;
      display: block;
      margin-right: 100px;
  }
  
  .menu li{
  list-style:none;
  float: left;
  margin: 10px;
  font-size: 25px;
  }
  
  .menu li ul{
    display: none;
    position: absolute;
  }
  
  .menu li:hover ul{
    display: block;
  }
  
  .menu li ul li{
    position:relative;
  }
  
  .menu li ul li ul{
    height: -145;
    top:0px;
    padding: 10px;
  }
  
  .menu a{
      color: white;
      text-decoration: none;
      padding: 5px 20px;
  
  }
  
  .menu a:hover{
      background:rgba(212, 222, 223, 0.5);
  }
  
  .ContenedorNav{
      width: 100%;
      margin:auto;
      font-family: 'Shadows Into Light', cursive;
      font-family: 'Roboto Condensed', sans-serif;
      padding: 5px;
  }
  
  #Principal{
     color: #FFF;
      position: relative;
      top: 45%;
      padding: 10px;
  }
  
  .ContenedorPrin{
     font-weight: 600;
     font-size: 30px;
  }
  
  .ContenedorPrin h2{
    text-align: right;
    font-family: 'Shadows Into Light', cursive;
  }

.contenedorCont {background:rgba(251, 251, 251, 0.3); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: large;}
.contenedorCont h3{border:solid rgb(144, 156, 228);
  font-size: 30px;text-align: center;}
.contenedorCont p{margin-left: 50px; margin-right: 50px; text-align: justify;}
.contenedorCont img{margin:10px auto; display:block;width: 600px;}

.masinformacion{background-color:rgba(251, 251, 251, 0.3); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: large;}
.masinformacion h1{border: solid darkgoldenrod ; text-align: center;}
.masinformacion h3{font-size: 30px;text-align:left;}
.masinformacion p{margin-left: 50px; margin-right: 50px; text-align: justify;}
.masinformacion img{margin:10px auto; display:inline-flex; width: 300px; height: 300px; margin-left: 25px;}

#info{background-color:rgba(251, 251, 251, 0.3)}

footer{float: right;}